<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/00dad128-4c84-4aa6-8fc4-9880c59ddcf6/resourcegroups/ToDoApp/providers/Microsoft.ContainerRegistry/registries/TodoAPI20191018032940</ResourceId>
    <ResourceName>TodoAPI20191018032940</ResourceName>
    <ResourceGroup>ToDoApp</ResourceGroup>
    <Subscription>Microsoft Azure Internal Consumption</Subscription>
    <RegistryUrl>https://todoapi20191018032940.azurecr.io</RegistryUrl>
    <UserName>TodoAPI20191018032940</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c05ca11c-c283-4321-9e3c-05d306b59c13</ProjectGuid>
  </PropertyGroup>
</Project>